pipeline/incremental_data_pipeline.json
{
	"name": "incremental_data_pipeline",
	"properties": {
		"activities": [
			{
				"name": "copy_incremental_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "last_load",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "current_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT \n    *\nFROM \n    source_cars_data\nWHERE\n    Date_ID > '@{activity('last_load').output.firstRow.last_load}'\nAND\n    Date_ID <= '@{activity('current_load').output.firstRow.max_date}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Branch_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Branch_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Dealer_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Dealer_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Model_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Model_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Revenue",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "Revenue",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "Units_Sold",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "Units_Sold",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "Date_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Date_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Day",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Day",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "Month",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Month",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "Year",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Year",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "BranchName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BranchName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DealerName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DealerName",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sqlDB",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "source_cars_data"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_bronze",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "last_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \r\n    last_load \r\nFROM \r\n    water_table;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqlDB",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "water_table"
						}
					}
				}
			},
			{
				"name": "current_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(Date_ID) AS max_date\r\nFROM source_cars_data;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqlDB",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "source_cars_data"
						}
					}
				}
			}
		],
		"annotations": []
	}
}